.input-file-container {
  position: relative;
}

.js .input-file-trigger {
  padding: 6px 12px;
  border-radius: 4px;
  background: #0089d2;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  vertical-align: middle;
  cursor: pointer;
}

.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.js .input-file:hover + .input-file-trigger, .js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover, .js .input-file-trigger:focus
{
  background: #00a6ff;
}

.file-return {
  margin-left: 10px;
}

.js .file-return, .js .file-return2, .js .file-return3, .js .file-return4 {
  font-weight: bold;
  color: #005b90;
}
.js .file-return:not(:empty):before
{
  content: " ";
  font-style: normal;
  font-weight: normal;
}
