<div class="col-sm-12">
    <div class="col-sm-6 text-center">
        {% if service.PendingOnboards != 0 %}
            📦 {{ service.PendingOnboards }} element{{ "s" if service.PendingOnboards > 1 else ""  }} onboard pending
        {% endif %}
        <br>
        {% if service.Busy %}
            ⏳ Pending actions
        {% endif %}
    </div>
    <div class="col-sm-6 text-right">
        {{ "✔️" if service.Ready else "❌" }}
        <strong>Network service {{ "" if service.Ready else "not" }} ready</strong>
    </div>
</div>