{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
    <script>setTab('navbar-networkServices')</script>
{% endblock %}


{% block app_content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div style="text-align: center">
                <h2>Network Services Repository</h2>
            </div>
            <a class="btn btn-blue" href="{{ url_for('NetworkServices.repository') }}" role="button">New Network Service</a>
            <br>
            {% for ns in nss %}
                <p>{{ ns.name }} - {{ ns.description }}</p>
            {% endfor %}
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}