{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/loading.js')}}"></script>
<script>
(function() {
    document.getElementById('navbar-home').classList.remove('menuSelected');
    document.getElementById('navbar-createExperiment').classList.remove('menuSelected');
    document.getElementById('navbar-vnf').classList.add('menuSelected');
})();

</script>
{% endblock %}

{% block app_content %}
<div class="opaque" hidden></div>
<div class="loader" hidden></div>
    <div class="col-md-2"></div>
<div class="col-md-8" style="padding-right: 25px">
    <div style="text-align: center">
        <h2>MALAGA PLATFORM DESCRIPTION</h2>
    </div>
    <div>
        <h3>Available devices</h3>
        <ul>
            <li><strong>Samsung Galaxy S9</strong> (March 2018):<br>
                <strong>OS:</strong> Android 8.0 - Samsung Experience Vision 9.0<br>
                Exynos 9810 (10 nm) - 4GB RAM - 1440 x 2960 pixels, 18.5:9 ratio
            </li>
            <li><strong>Samsung Galaxy Note 10+ 5G</strong> (August 2019):<br>
                <strong>OS:</strong> Android 10.0 - OneUI 2.0<br>
                Exynos 9825 (7 nm) - 12GB RAM - 1440 x 3040 pixels, 19:9 ratio
            </li>
        </ul>
    </div>
    <div>
        <h3>Scenarios</h3>
        <ul>
            <li><strong>LTE Pedestrian:</strong><br>
                This setup is based on an eNodeB emulator configured with a EPA5 channel model, signal to noise ratio of
                20dB, adaptive modulation, single carrier and 20MHz bandwidth and all the resource blocks assigned
                to the UE.
            </li>
            <li><strong>5G NR Non-standalone</strong><br>
                One eNodeB and one gNodeB, 40MHz bandwidth, RSSI values within a range of between -64dBm and -60dBm and
                a signal to noise ratio of 20dB.
            </li>
        </ul>
    </div>
    <div>
        <h3>Network services</h3>
        <ul>
            <li><strong>Nemergent MCS server:</strong><br>
                The Nemergent MCS Server provides the application-level components required to deploy the full
                3GPP Rel13 Mission Critical Push-To-Talk (MCPTT) service, together with a selection of the main
                features in the 3GPP Rel14 Mission Critical Video (MCVideo) and Mission Critical Data (MCData) services.
            </li>
            <li><strong>DASH Video streaming server:</strong><br>
                Custom made VNF that integrates the GPAC streaming server. GPAC  is an implementation of the MPEG-4
                Systems standard written in ANSI C. GPAC provides tools for media playback, vector graphics and 3D
                rendering, MPEG-4 authoring and distribution.
            </li>
        </ul>
    </div>
</div>
{% endblock %}